.container
  .profilePage_header
    .profile_back_icon
      = link_to image_tag('矢印.png'), :back
    .profile_username
      = current_user.username
    

  .avatar
    - if current_user.profile&.avatar&.attached?
      = image_tag @user.profile.avatar, class: 'profile_usericon'
    - else 
      = image_tag 'default-avatar.png', class: 'profile_usericon'


  .avatar_PostImage
    = form_with(model:@profile, url:profile_path, method:'get', local:true ) do |f|
      .filed
        = f.label :avatar, '画像を選択', class: 'post_image'
        %br/
        = f.file_field :avatar, class: 'image_form'
      .actions
        = f.submit 'SUBMIT', class: 'avatar_submit_btn'


  .account_status
    .post_status
      %p
    %p.status-text Posts

    .followers_status
      %p
    %p.status-text Followers

    .following_status
      %p
    %p.status-text Following



= javascript_pack_tag 'profile'
