.container
  - @article.each do |article|
    .article
      .article_nav
        = link_to account_path(article.user) do
          = image_tag article.user.avatar_image, class:'article_nav_avatar'
        .article_nav_text
          .article_nav_text_name
            %p= article.user.username
          .article_nav_text_time
            %p 3 hours ago
      .article_content
        - article.eyecatch.each do |eyecatch| 
          = image_tag eyecatch, class: 'article_content_image'
      - if user_signed_in?
        .article_action
          - if current_user.has_liked?(article)
            .article_heart
              = link_to article_like_path(article), data: {method: 'delete'} do
                = image_tag 'heart-active.svg', class: 'article_icon'
          - else
            .article_heart
              = link_to article_like_path(article), data: {method: 'post'} do
                = image_tag 'heart.svg', class: 'article_icon'

          .article_comment
            = link_to article_comments_path(article) do
              = image_tag 'comment.png', class: 'article_icon'
          .article_share
            = link_to "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' do
              = image_tag 'share.png', class: 'article_icon'
       
      .article_liked
        %p 「いいね!」
        %span= article.like_count
        %p 件
      .article_text
        .article_user_name
          %p ____sktm____
        .article_text_content
          %p= article.content

  = javascript_pack_tag 'article'




